body { 
  -webkit-font-smoothing: antialiased;
  background: $background-color;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.site-header {
  padding-top: 1.2em;
}

.menu-icon svg {
  width: 35px;
  margin-top: 30%;
} 


.container h2 {
  font-weight: 500;
  letter-spacing: 1px;
  position: relative; 
  margin-top: -1em;
  top: -10px;
  background: $background-color;
  display: inline-block;
  padding: .4em .6em;
}

.container h3 {
  font-weight: 400;
  font-size: 1em;
}

.container {
  margin: 3em auto;
  border: 2px solid #555;
  padding: 0 1.5em .8em 1.5em;
  position: relative;
  a {
    text-decoration: none;
  }
}

.container p {
  margin: 0;
  margin-bottom: 1.5em;
  font-weight: 300;
  color: #555;
}

.innovacion .row {
  margin-bottom: .8em;
}

.manifiesto .head {
  background: $manifiesto-color;
  padding: 4em 0;
  margin-top: 2em;
  margin-bottom: 1em;
  h2 {
    font-size: 3em; 
    letter-spacing: 1px;
    margin-bottom: 0;
    padding: 0;
  }
  p {
    font-weight: 300;
  }
  h2,p {
    margin: 0;
    color: white;
  }
  .main-text {
    width: 100%;
    z-index: 999;
    background: rgba(246, 133, 30, 0.4);
  }
  .float {
    margin-top: -8%;
  }
  .float img {
    width: 50%;
    z-index: 1;
  }
  .float-left {
    position: absolute;
    left: 0;
    z-index: 1;
    margin-top: -1.5%;
    text-align: left;
  } 

  .float-right {
    position: absolute;
    z-index: 1;
    right: 0;
    margin-top: -12%;
    text-align: right !important;
  }

}


.manifiesto {
  .number {
    font-size: 3em;
    margin: 0;
  }


}

.manifiesto-items {
  p {
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: .6em;
    letter-spacing: 1px;
  }
}
