body { 
  -webkit-font-smoothing: antialiased;
  background: $background-color;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}


#menu {
  background: rgba(229, 225, 15, 0.9);
  width: 100%;
  height: 100%;
  z-index: 0;
  position: fixed;
  transition: all .4s ease-out;
  opacity: 0;
  visibility: hidden;

  &:target {
    visibility: visible;
    opacity: 1;
    z-index: 9999;
  }
  nav {
    display: block;
    margin-top: 20%;
  }
  a {
    display: block;
    color: black;
    font-size: 2em;
    text-decoration: none;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 5%;
    transition: all .2s;
    &:hover {
      background: #444;
      color: white;
    }
  }
  a.close {
    width: 50px;
    font-size: 2em;
    display: block;
    position: absolute;
    text-align: center;
    right: 13%;
    top: 4%;
    background: #444;
    color: white;
    font-family: "Verdana";
    z-index: 9999;
  }
}


.site-header {
  padding-top: 1.2em;
}

.menu-icon svg {
  width: 35px;
  margin-top: 30%;
} 

.site-header {
  background: #f7f7f7;
}

.container h2 {
  font-weight: 500;
  letter-spacing: 1px;
  position: relative; 
  margin-top: -1em;
  top: -10px;
  background: $background-color;
  display: inline-block;
  padding: .4em .6em;
}

.container h3 {
  font-weight: 400;
  font-size: 1em;
}

.container {
  margin: 3em auto;
  border: 2px solid #555;
  padding: 0 1.5em .8em 1.5em;
  position: relative;
  a {
    text-decoration: none;
  }
}

.container p {
  margin: 0;
  margin-bottom: 1.5em;
  font-weight: 300;
  color: #555;
}

.innovacion .row {
  margin-bottom: .8em;
}

.manifiesto .head {
  background: $manifiesto-color;
  padding: 4em 0;
  margin-top: 2em;
  margin-bottom: 1em;
  h2 {
    font-size: 3em; 
    letter-spacing: 1px;
    margin-bottom: 0;
    padding: 0;
  }
  p {
    font-weight: 300;
  }
  h2,p {
    margin: 0;
    color: white;
  }
  .main-text {
    width: 100%;
    z-index: 999;
    background: rgba(246, 133, 30, 0.4);
  }
  .float {
    margin-top: -8%;
  }
  .float img {
    width: 50%;
    z-index: 1;
  }
  .float-left {
    position: absolute;
    left: 0;
    z-index: 1;
    margin-top: -1.5%;
    text-align: left;
  } 

  .float-right {
    position: absolute;
    z-index: 1;
    right: 0;
    margin-top: -10%;
    text-align: right !important;
  }

}


.manifiesto {
  .number {
    font-size: 3.5em;
    margin: 0;
  }


}

.manifiesto-items {
  p {
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: .6em;
    letter-spacing: 1px;
  }
  .medium-3 {
    padding: .8em;
  }
}


.labs {
  background: #f7f7f7;
  margin-top: 4em;
  padding: 1em 0 3em 0;
  h2 {
    font-weight: 500;
  }
  img {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transition: all .2s;

    &:hover {
      filter: grayscale(0);
      -webkit-filter: grayscale(0);     
    }
  }

  .lab-rio, .lab-mx { 
    position: relative;
    display: inline-block;
    top: 58px;
  }
  .lab-mx {
    top: 66px;
  }
}

.contact {
  background: url('/assets/contact.png') no-repeat;
  background-position: -10% -10%;
  background-size: 30%;
  margin-top: 2em;

  .button {
    display: block; 
    background: #444;
    color: #f9f9f9;
    width: 50%;
    margin: .8em auto;
    padding: .4em .8em;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1em;

  }
}



// Lab internal pages
.head-labs {
  background: #f7f7f7;
  h1 {
    position: absolute;
    top: 35%;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 415%;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
  }
}
